.Events{
    margin-top: 20px;
}
.mg-bottom-20{
    margin-bottom: 20px;
}

.event-label{
    font-weight: bold;
    padding: 10px;
}

.filter-label{
    margin-bottom: 8px;
    font-weight: bold;
}

.card-link{
    cursor: pointer;
}